:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  background-color: rgb(235, 207, 105);
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

header h1 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 0.5em;
}

header p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  padding-left: 18%;
  padding-right: 18%;
}

main p {
  font-size: small;
}

.first-row {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
}

.first-row article {
  padding-right: 1em;
  width: 25%;
}

#art-one {
  padding-bottom: 1em;
  padding-right: 1em;
  width: 50%;
}

.second-row {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
}

.second-row article {
  width: 25%;
  padding-right: 1em;
}

.third-row {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 4em;
}

.third-row article {
  width: 25%;
  padding-right: 1em;
}

footer {
  background-color: rgb(235, 207, 105);
  margin-bottom: 0;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  text-align: center;
}